@{
    ViewData["Title"] = "Home Page";
}

<title>JavaScript</title>

<h1>Ahorcado</h1>

<p>
    Intentá descubrir la palabra letra por letra.
    Tenés un máximo de 10 intentos.
</p>

<div class ="div1" id="guiones"></div>

<div class ="div2" id="Intentos">
    Intentos restantes: 10
</div>

<div class ="div3" id="Mensaje"></div>

<br>

<input type="text" id="Letra" maxlength="1" placeholder="Letra" />

<input type="hidden" id="PalabraOculta" value="@ViewBag.palabra" />

<button onclick=ArriesgarLetra()>Arriesgar</button>