@{
    ViewData["Title"] = "Home Page";
}

<title>JavaScript</title>

<h1>Ahorcado</h1>

<p>
    Intentá descubrir la palabra letra por letra.
    Tenés un máximo de 10 intentos.
</p>

<div>
    <h3>Palabra:</h3>
    <div id="palabraOculta"></div>
</div>

<br>

<div id="intentos">
    Intentos restantes: 10
</div>

<br>

<div id="mensaje"></div>

<br>

<input type="text" id="txtLetra" maxlength="1" placeholder="Letra" />

<input type="hidden" id="palabra" value="@ViewBag.Palabra" />

<button onclick=ArriesgarLetra()>Arriesgar</button>

<script scr = "js/script.js" ></script>